#
# Java Spring Boot Kubernetes Settings
#
# config-consumer-service settings
#

export MK_IMAGE_PUSH_TARGET="spring-cloud-kubernetes-consumer-service:3.3.18-SNAPSHOT"
export MK_IMAGE_PUSH_TARGET_PREFIX="ericm24"

#export MK_IMAGE_PUSH_SKIP_MINIKUBE="true"

export MK_IMAGE_PUSH_SKIP_DOCKER_HUB="true"

# Configmap as slurp file
export SCK_FILE_USERID='/mem-platform/secrets/TEST_ERIC_TEST_USERID1'
export SCK_FILE_PASSWORD='/mem-platform/secrets/TEST_ERIC_TEST_PASSWORD1'

export SCK_EVAR_USERID='MY_SECRET_EVAR_USERID22'
export SCK_EVAR_PASSWORD='MY_SECRET_EVAR_PASSWORD22'

